# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Firebase
.env
google-services.json

# Native build files
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
*.log

# macOS
.DS_Store

# Local environment files
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/

# Miscellaneous
build/